<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>JDirectory Test Task Application</display-name>
    <servlet>
        <servlet-name>JDirectory Servlet</servlet-name>
        <servlet-class>jdirectory.servlets.JDirectoryServlet</servlet-class>            
    </servlet>
    <servlet-mapping>
        <servlet-name>JDirectory Servlet</servlet-name>
        <url-pattern>/jdir/*</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>jdirectory.root.directory.path</param-name>
        <param-value>${jdirectory.root.directory.path}</param-value>
    </context-param>
    <context-param>
        <param-name>jdirectory.servlet.path</param-name>
        <param-value>/jdir</param-value>
    </context-param>
</web-app>
